.main-container {
  position: relative;
}

.view-detail-button {
   position: absolute;
   top: 20px;
   right: 20px;
   z-Index: 1000;
 }

.view-detail-button button {
  border-color: #F7F7F7;
  color: #F7F7F7;
}

div.ant-drawer-content {
  background-color: transparent;
}

div.ant-card {
  background-color: transparent;
}

div.leaflet-popup-content-wrapper, div.leaflet-popup-tip {
  background-color: transparent;
}

div.ant-card-head-title {
  color: #ECECEC;
}